.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #222744;
}
a {cursor: pointer;}
.epic-text {
    margin: 15px 0 0 0;
    text-align: center;
    color: #777;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-size: 8pt;
}

.ui-pnotify-title {
    font-size: 10pt;
    line-height: 1;
    color: #fff;
}

.ui-pnotify-icon, .ui-pnotify-icon span {
    margin-right: .3em;
}
