::-webkit-scrollbar-thumb:hover {
    background-color:#bd9565;
}
::-webkit-scrollbar-thumb {
    background-color:#bd9565;
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}
#trainNeuralNet .imageSearchPreview{
    position: relative;
    height:50px;
    width:50%;
    display:inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
}
#trainNeuralNet .imageSearchPreview.selected img{
    border:2px solid #333;
}
#trainNeuralNet .imageSearchPreview img{
    border:2px solid #f00;
    border-radius:10px;
    cursor:pointer;
}
#trainNeuralNet .imageSearchPreview.hasAnnotation img{
    border:2px solid #2ca8ff;
}
#trainNeuralNet .imageSearchPreview small{
    position: absolute;
    bottom:15px;
    right:15px;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 15px #333;
    font-size:10pt;
}
#trainNeuralNet .images_search_found .corner-control{
    position: absolute;
    top:15px;
    right:15px;
    line-height: 1;
    opacity:0;
}
#trainNeuralNet .images_search_found:hover .corner-control{
    opacity:1
}
#trainNeuralNet .imageSearchPreview img{
    width:100%;
    height:100%;
}
#trainNeuralNet .images_search_last_clicked{
    text-align: center;
    margin-bottom:10px;
    display:inline-block;
    width:100%
}
#trainNeuralNet .images_search_last_clicked img{
    display: inline-block;
    max-height:300px;
    border-radius:5px
}
#matrixEditorWindow .matrix-editor{
    display: inline-block;
    position:relative;
}
#matrixEditorWindow .matrix-editor img{
    max-width: 100%!important;
}
#matrixEditorWindow .matrices{
    position: absolute;
    width:100%;
    height:100%;
}
#matrixEditorWindow canvas{
    position: absolute;
    top:0;
    left:0;
}
#matrixEditorWindow canvas.selected{
    z-index: 1111
}

.matrix-editor .matrix {
  background: rgba(0,0,0,0.4);
  position: absolute;
  transition: 0s;
  z-index: 9;
  border: 1px solid #f44242;
}

.matrix-editor .matrix .handle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(244, 66, 66, 0.5);
    cursor: grab;
    padding: 0 5px;
}
.matrix-editor .matrix:hover .handle{
    height: 25px;
    background: rgba(195, 0, 0, 0.8);
}
.matrix-editor .matrix .handle .delete{
    color: red;
}
.matrix-editor .matrix input{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    text-align: center;
}

.matrix-editor .matrix.selected {
    z-index: 10;
}

.ui-resizable-sw,
.ui-resizable-se,
.ui-resizable-nw,
.ui-resizable-ne {
    width: 15px;
    height: 15px;
}
.ui-resizable-e,
.ui-resizable-w {
    width: 10px;
}
.ui-resizable-n,
.ui-resizable-s {
    height: 10px;
}

.output_data {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    max-height: 200px;
    overflow: auto;
    font-family: monospace;
}

.output_data .time {
    font-family: monospace;
    font-size: 8pt;
    font-weight: bold;
}

/* custom tag colors */
.tag-editor .tag-editor-tag {
    color: #ffffff;
    background: #2ca8ff;
    border-radius: 5px 0 0 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-family: monospace;
}
.tag-editor .tag-editor-delete {
    background: #248ed8;
}
.tag-editor .tag-editor-delete i:before {
    color: #ffffff;
}
.tag-editor li {
    border-radius: 5px;
}

/* dropzone modifier */
.dropzone-container {
    position: relative;
    border: 5px dashed #eee;
    border-radius: 10px;
    margin-bottom: 10px;
}
.dropzone-container .dropzone-message{
    margin:0;
}
.dropzone-container .dz-preview{
    display: none;
}
#dropUploadArea {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* forms */
label {
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

/* seekbar */
.seekbar {
    cursor: pointer;
    height: 10px;
    border: thin solid #a7a7a7;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 11px;
}
.seekbar span {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
    border-right: 2.5px inset #a7a7a7;
}

/*  */
.tag-editor {
    border-radius: 5px;
    padding: 5px 2.5px;
}
/*  */
.unfullscreen {
    position:absolute;right:5px;top:5px;display:none;z-index:100;
    cursor:pointer;
}
