<form class="modal fade" id="configurationEditor" tabindex="-1" role="dialog" aria-labelledby="configurationEditorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="configurationEditorLabel"><i class="fa fa-gears"></i> &nbsp; <%-lang['Configuration']%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <% if(!config.userHasSubscribed){ %>
          <div class="row text-light mb-4">
              <div class="col-12">
                  <small><%- lang.onlyAvailableToSubscribers2 %></small>
              </div>
          </div>
          <% } %>
          <% const configOptions = [
              {
                  labelText: lang['Subscription ID'],
                  labelSupplement: config.userHasSubscribed ? `<span class="badge badge-sm badge-success">${lang.Activated}</span>` : `<a href="https://licenses.shinobi.video/subscribe" target="_blank">${lang['Byaku Pro']}</a>`,
                  name: 'subscriptionId',
                  type: 'password',
                  placeholder: 'sub_XXXXXXXXXXXX'
              },
              {
                  labelText: lang['Pixabay API Key'],
                  labelSupplement: config.pixaBayApiKey ? '' : `<a href="https://pixabay.com/api/docs/#api_search_images" target="_blank">Pixabay</a>`,
                  name: 'pixaBayApiKey',
                  type: 'password',
                  placeholder: 'XXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX'
              },
          ];
          configOptions.forEach((option)=>{ %>
              <div class="form-group">
                  <div class="d-block mb-2 pr-2 pl-2">
                      <small class="epic-text mb-2 text-left"><%- option.labelText %></small>
                      <small class="pull-right"><%- option.labelSupplement %></small>
                  </div>
                  <input name="<%- option.name %>" type="<%- option.type %>" class="form-control form-control-lg" placeholder="<%- option.placeholder %>" value="<%- config[option.name] ? config[option.name] : '' %>">
              </div>
          <% }) %>
          <div class="row text-light mb-4">
              <div class="col-12 text-center">
                  <small><%- lang.restartByakuForChanges %></small>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">&nbsp;<i class="fa fa-times"></i> <%-lang.Close%>&nbsp;</button>
          <button type="submit" class="btn btn-success btn-sm pull-right">&nbsp;<i class="fa fa-check"></i> <%-lang.Save%>&nbsp;</button>
      </div>
    </div>
  </div>
</form>
<script src="/libs/js/trainNeuralNet.configurationEditor.js"></script>
