<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Shinobi Neural Net Trainer">
  <meta name="author" content="Shinobi Systems">
  <title><%- config.webPageTitle %></title>
  <!-- Favicon -->
  <link href="/libs/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Icons -->
  <link href="/libs/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <!-- Font -->
  <link href="/libs/css/open-sans.css" rel="stylesheet">
  <!-- Icons -->
  <link href="/libs/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/libs/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/libs/css/argon.css?v=1.0.1" rel="stylesheet">
  <!-- More CSS -->
  <link href="/libs/css/dropzone.css" rel="stylesheet">
  <link href="/libs/css/jquery.tag-editor.css" rel="stylesheet">
  <link href="/libs/css/jquery-ui.min.css" rel="stylesheet">
  <link href="/libs/vendor/pnotify/pnotify.custom.min.css" rel="stylesheet">
  <link href="/libs/css/cornerRibbon.css" rel="stylesheet">
  <!-- Chart -->
  <link href="/libs/vendor/apexcharts/apexcharts.css" rel="stylesheet">
  <script src="/libs/vendor/apexcharts/apexcharts.min.js"></script>
  <!-- Renderer -->
  <link href="/libs/css/renderer.css" rel="stylesheet">
  <link href="/libs/css/trainNeuralNet.css" rel="stylesheet">
  <link href="/libs/css/trainNeuralNet.modal.css" rel="stylesheet">
  <script src="/libs/vendor/jquery/jquery.min.js"></script>
  <script>lang = <%- JSON.stringify(lang) %></script>
  <!-- Core -->
  <script src="/libs/vendor/jquery/jquery-ui.min.js"></script>
  <script src="/libs/js/jquery.serializeObject.min.js"></script>
  <script src="/libs/vendor/popper/popper.min.js"></script>
  <script src="/libs/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/libs/vendor/headroom/headroom.min.js"></script>
  <!-- Argon JS -->
  <script src="/libs/js/argon.js?v=1.0.1"></script>
  <!-- Renderer -->
  <script src="/libs/js/socket.io.js"></script>
  <script src="/libs/js/dropzone.js"></script>
  <script src="/libs/js/jquery.caret.min.js"></script>
  <script src="/libs/js/jquery.tag-editor.min.js"></script>
  <script src="/libs/js/lazyload.min.js"></script>
  <script src="/libs/vendor/pnotify/pnotify.custom.min.js"></script>
  <!-- Trainer -->
  <script src="/libs/js/trainNeuralNet.1.js"></script>
  <script src="/libs/js/trainNeuralNet.elementBuilder.js"></script>
  <script src="/libs/js/trainNeuralNet.forms.js"></script>
  <script src="/libs/js/trainNeuralNet.engineStatus.js"></script>
  <script src="/libs/js/trainNeuralNet.socketio.js"></script>
</head>
