<body style="background:#222;font-family:monospace">
  <div style="padding:30px 0;text-align:center;color:#eee">
    <p><b><%- config.openInBrowserText || lang.openInBrowserText %></b></p>
    <% Object.values(networkInterfaces).forEach(function(interface){ %>
      <% interface.forEach(function(route){ %>
          <div style="margin-bottom:10px;">http://<%- route.address %>:<%- config.port %></div>
      <% }) %>
    <% }) %>
    <a href="/close" style="padding:5px 10px;display:block;border-radius:5px;background:#555;"><%- lang['Quit Application'] %></a>
  </div>
</body>
